<form action="/tasks" method="post" class="form">
  <div class="form">
    <label for="title">Enter your task title: </label>
    <input type="string" name="task[name]">
  </div>
  <div class="form">
    <label for="details">Enter details: </label>
    <input type="text" name="task[details]">
  </div>
  <div class="form">
    <input type="submit" value="Add my task !">
  </div>
</form>
